*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* for font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* shared css */
.max_width {
    max-width: 1280px;
    margin: 0 auto;
}

.gray-text{
    color: rgba(0, 0, 0, 0.6);
}

.universal-btn {
    background-color: black;
    color: white;
    padding: 18px 36px;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}



/* CSS for every part */
.nav-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    
}

.menues-list {
    display: flex;
    gap: 61px;
    list-style: none;
    
}

.menues-list li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.nav-social-icons{
    display: flex;
    gap: 40px;

}

.nav-social-icons i{
    width: 22px;
    height: 22px;
}

.nav_hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* border-top: 1px solid black; */
    margin-bottom: 40px;
}


/* for recipe sections */
.recipe-hero {
    margin-top: 80px;
    margin-bottom: 80px;
}

.recipe-hero .recipe-overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
}


.recipe-hero .recipe-overview .recipe-author .recipe-title {
  font-size: 4rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.recipe-stats-details {
    display: flex;
    
}

.recipe-stats-details .author-img-name-date {
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 58px;
}

.recipe-stats-details .author-img-name-date img {
    width: 50px;
    height: 50px;
}


.recipe-stats-details .recipe-details {
    display: inline-block;
}

.recipe-stats-details .recipe-details p {
    margin-bottom: 8px;
}

.recipe-stats-details .prep-time {
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 32px;
    padding-left: 32px;
    
}

.recipe-stats-details .cook-time {
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 32px;
    padding-left: 32px;
    
}

.recipe-stats-details .chicken {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 32px;
}

.recipe-actions {
    display: flex;
    gap: 32px;
}

.recipe-actions .action-btn {
    display: grid;
    justify-items: center;
    gap: 16px;
}

.recipe-actions .action-btn>button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: #E7FAFE;
}




/* recipe hero section  */
.recipe-top-grid {
  display: grid;
  grid-template-columns: 60% 37%;
  gap: 40px;
  align-items: start;
  margin-bottom: 80px;
}

.recipe-top-grid .recipe-hero-image {
    position: relative;
}

.recipe-top-grid .recipe-hero-image .hero_pause_btn {
    position: absolute;
    right: 42%;
    top: 40%;
}

.recipe-top-grid .recipe-hero-image .hero_pause_btn img{
    width: 100px;
    height: 100px;
}


/* HERO IMAGE */
.recipe-hero-image img {
  width: 100%;
  border-radius: 20px;
  max-height: 480px;
  object-fit: cover;
}

/* for nutrition box */
.nutrition-box {
  background: #b2e1dc8a;
  border-radius: 15px;
  padding: 25px;
  max-height: 100%;
  object-fit: cover;
}


.nutrition-box h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.nutrition-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 170px;
}

.nutrition-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nutrition-item span:first-child {
  color: rgb(85, 85, 85);
}

.nutrition-item span:last-child {
  font-weight: 600;
  color: black;
}

.nutrition-note {
  font-size: 12px;
  color: rgb(85, 85, 85);
  line-height: 1.6;
  margin-top: 15px;
}

.recipe-desc {
  font-size: 1rem;
  color: rgb(85, 85, 85);
  line-height: 28px;
  margin-bottom: 5px;
}




/* RECIPE CONTENT LAYOUT */
.recipe-container {
  display: flex;
  gap: 40px;
}

/* LEFT MAIN COLUMN */
.recipe-main {
  width: 65%;
}



/* SECTIONS (ingredients, directions) */
.recipe-section {
  margin-bottom: 40px;
}

.recipe-section h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 48px;
  
}

.recipe-section h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 33px;
  margin-top: 48px;
}

/* INGREDIENT LIST */
.ingredient-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ingredient-list li {
    list-style: none;

}

.ingredient-list .child {
    display: flex;
    gap: 24px;
    align-items: center;
    color: rgb(85, 85, 85);
    padding-bottom: 33px;
    padding-top: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ingredient-list .fa-regular {
    color: #DBE2E5;
}

.fa-regular {
    color: #DBE2E5;
}

.ingredient-list .first-child {
    text-decoration: line-through;
    display: flex;
    gap: 24px;
    align-items: center;
    padding-bottom: 33px;
    padding-top: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} 



/* DIRECTION STEPS */
.direction-step {
  margin-bottom: 30px;
}

.direction-step h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.direction-step p {
  font-size: 14px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 15px;
  padding-left: 20px;
}

.direction-step img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 10px;
}

/* RIGHT SIDEBAR */
.recipe-sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-box {
  
  padding: 25px;
}

.sidebar-box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}




/* OTHER RECIPES */
.other-recipe {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 15px;
}

.other-recipe img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.other-recipe p {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.other-recipe small {
  font-size: 11px;
  color: #888;
}

/* SIDEBAR AD */
.sidebar-ad {
  margin-top: 170px;
  max-width: 400px;
}

.sidebar-ad img {
  width: 100%;
  object-fit: cover;
}


/* delicious section starts from here */
.delicious-section {
    margin-top: 160px;
    margin-bottom: 180px;
}

.delicious-section .delicious-title-des {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}


.delicious-section .delicious-title-des 
.delicious-title {
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
}

.delicious-section  .delicious-des {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}


.delicious-section .delicious-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.delicious-section .delicious-cards .delicious-card {
    /* width: 290px; */
    position: relative;
}

.delicious-cards .delicious-card>img {
    width: 100%;
    height:auto;
    object-fit: cover;
}

.delicious-cards .delicious-card .delicious-card-title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 24px;
    margin-top: 16px;
    
}

.delicious-cards .delicious-card .delicious-love-icon {
    position: absolute;
    right: 5%;
    top: 5%;   
}

.deliciousness-inbox-card {
    background-color: #E7F9FD;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 80px 0px 80px 0px;
    border-radius: 30px;
    position: relative;
    margin-bottom: 160px;
}

.deliciousness-inbox-card .deliciousness-title {
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 24px;
}

.deliciousness-inbox-card .deleciousness-des {
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 64px;
}

.deliciousness-inbox-card .email-address-place-btn{
    display: flex;
    gap: 144px;
    align-items: center;
    background-color: white;
    padding: 10px 10px 10px 32px;
    border-radius: 20px;
}

.email-address-place-btn .email-address-place {
    font-size: 0.80rem;
    font-weight: 500;
}

.deliciousness-inbox-card .deliciousness-absolute-img {
    position: absolute;
}

.deliciousness-inbox-card  .deliciousness-absolute-img1 {
    right: 0%;
    bottom: 0%;
}

.deliciousness-inbox-card  .deliciousness-absolute-img1>img {
    border-radius: 30px;
}

.deliciousness-inbox-card  .deliciousness-absolute-img2 {
    left: 0%;
    bottom: 0%;
} 


.footer-logo {
    margin-bottom: 5px;
}

.footer-list {
    display: flex;
    gap: 61px;
    list-style: none;
    justify-content: end;
    margin-bottom: 10px;
}

.footer-list li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.footer-des {
    margin-bottom: 48px;
}

footer>hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 48px;
}

footer .copy-right-social-icons {
    display: flex;
    gap: 338px;
    justify-content: end;
    margin-bottom: 48px;
}

footer .copy-right-social-icons .copy-right .orange-text {
    color: orangered;
}

footer .copy-right-social-icons .social-icons {
    display: flex;
    gap: 40px;
}




/* responsiveness for mobile  */
/* Mobile */
@media (max-width: 480px) {
    .nav-part {
        margin: 20px auto;
        flex-direction: column;
    }

  .menues-list {
    gap: 15px;
    margin-top: 10px;
  }

  .nav-social-icons{
    display: none;
  }

  .recipe-hero .recipe-overview {
    flex-direction: column;
    margin-bottom: 80px;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .recipe-hero .recipe-overview .recipe-author .recipe-title {
    font-size: 2rem;
  }


  .recipe-stats-details {
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .recipe-top-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0px;
  }

  .nutrition-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

  .recipe-desc {
    padding: 8px;
  }

}



/* responsiveness for medium devices */
@media (min-width: 481px) and (max-width: 768px) {

    .nav-part {
        margin: 20px auto;
        flex-direction: column;
    }

   .menues-list {
      gap: 50px;
      margin-top: 20px;
   }

    .nav-social-icons{
        display: none;
    }

}



/* for laptop */
@media (min-width: 769px) and (max-width: 1024px) {


    .nav-part {
        margin: 20px auto;
        flex-direction: column;
    }

   .menues-list {
      gap: 50px;
      margin-top: 20px;
   }

    .nav-social-icons{
        display: none;
    }

}




