/* universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* for font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared css */
.max_width {
    max-width: 1280px;
    margin: 0 auto;
}


.same-time-recipe{
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    gap: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}


.gray-text{
    color: rgba(0, 0, 0, 0.6);
}

.universal-btn {
    background-color: black;
    color: white;
    padding: 18px 36px;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}


/* CSS for every part */
.nav-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    
}

.menues-list {
    display: flex;
    gap: 61px;
    list-style: none;
    
}

.menues-list li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.nav-social-icons{
    display: flex;
    gap: 40px;

}

.nav-social-icons i{
    width: 22px;
    height: 22px;
}

.nav_hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* border-top: 1px solid black; */
    margin-bottom: 40px;
}



/* hero section started */
.hero-section {
    display: flex;
    position: relative;
    margin-bottom: 160px;
}

.hero-section .main-dish-description{
    background-color: #e7fafe;
    padding: 50px;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hot-recipe-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    background-color: white;
    box-shadow: 5px 10px 100px 0 #294046;
    width: 160px;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 32px;
}

.hot-recipe-part .hot-recipe-img{
    width: 24px;
    height: 24px;
}

.hot-recipe-part .hot-recipe-des {
    font-size: 0.80rem;
    font-weight: 600;
    line-height: 1.2px;
}

.main-dish-description .recipe-title {
    font-size: 4rem;
    font-weight: 600;
    line-height: auto;
    margin-bottom: 24px;
    color: black;
}

.main-dish-description .recipe-des {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.75rem;
    margin-bottom: 2px;
    font-weight: 400;
    text-align: start;

}

.main-dish-description .time-recipe{
    display: flex;
    gap: 16px;
}


.chef-img-name-btn {
    display: flex;
    margin-top: 100px;
    gap: 158px;
}

.chef-img-name-btn .chef-img-name{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.chef-name-sec .chef-name{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    margin-bottom: 7px;
}

/* .hero-img {
    width: 100%;
    height: 100%;
} */

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge {
    position: absolute;
    right: 30%;
    top: 10%;
    
}

/* categories section started */


.categories .categories-txt-view-more-cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.categories-txt {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2rem;
}

.categories-btn {
    background-color: #e7fafe;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    border: none;
    padding: 15px 26px;
}


.all-categories {
    display: flex;
    gap: 40px;
    margin-bottom: 180px;
}

/* each card */
.category-item {
    position: relative;
    width: 180px;
    text-align: center;
}

/* image */
.category-image img {
    width: 70%;
    height: auto;
    display: block;
    margin-left: 15%;
}

/* text card */
.category-text-breakfast {
    margin-top: -40px;
    padding: 60px 20px 20px;
    background: linear-gradient(
    to bottom,
    rgba(112,130,70,0.05) 0%,
    rgba(112,130,70,0.05) 95%,
    rgba(112,130,70,1) 99%
    );
    border-radius: 30px;
    font-size: 1rem;
}

.category-text-vegan {
    margin-top: -40px;
    padding: 60px 20px 20px;
    background: linear-gradient(
    to bottom,
    rgb(204 38 27, 0.05) 0%,
    rgb(204 38 27, 0.05)95%,
    rgb(204 38 27,1) 99%
    );
    border-radius: 30px;
    font-size: 1rem;

}


.category-text-meat {
    margin-top: -40px;
    padding: 60px 20px 20px;
    background: linear-gradient(
    to bottom,
    rgba(112,130,70,0.05) 0%,
    rgba(112,130,70,0.05) 95%,
    rgba(112,130,70,1) 99%
    );
    border-radius: 30px;
    font-size: 1rem;

}

.category-text-dessert {
    margin-top: -40px;
    padding: 60px 20px 20px;
    background: linear-gradient(
    to bottom,
    rgba(112,130,70,0.05) 0%,
    rgba(112,130,70,0.05) 95%,
    rgba(112,130,70,1) 99%
    );
    border-radius: 30px;
    font-size: 1rem;

}


.category-text-lunch {
    margin-top: -40px;
    padding: 60px 20px 20px;
    background: linear-gradient(
    to bottom,
    rgba(112,130,70,0.05) 0%,
    rgba(112,130,70,0.05) 95%,
    rgba(112,130,70,1) 99%
    );
    border-radius: 30px;
    font-size: 1rem;

}


.category-text-chocolate {
    margin-top: -40px;
    padding: 60px 20px 20px;
    background: linear-gradient(
    to bottom,
    rgba(112,130,70,0.05) 0%,
    rgba(112,130,70,0.05) 95%,
    rgba(112,130,70,1) 99%
    );
    border-radius: 30px;
    font-size: 1rem;

}


/* simple and tasty recipe section started */
.simple-tasty {
    margin-bottom: 143px;
}

.simple-tasty .simple-tasty-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
    /* line-height: 1.2rem; */
    margin-bottom: 24px;
}

.simple-tasty .simple-tasty-des {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 100px;
}

.simple-tasty-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.simple-tasty-cards .card {
    width: 400px;
    height: auto;
    background: linear-gradient(
    to bottom,
    #E7F9FD 0%,
    #E7F9FD 100%
  );
   padding: 16px 16px 24px 16px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;

   position: relative;
}


.simple-tasty-cards .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
}

.time-recipe-flex {
    display: flex;
    gap: 24px;

}

.time-recipe-flex .simple-tasty-btns {
    background: none;
    padding: 0;
}

.simple-tasty-cards .card .love-icon {
    position: absolute;
    right: 8%;
    top: 8%;
}

.simple-tasty-cards .card.poster {
  background: none;
  box-shadow: none; /* optional */
  padding: 0;       /* optional, if you want it tight */
}

.display_none {
    display: none;
}


/* happy chef section started */
.happy-chef {
    display: flex;
    align-items: center;
    gap: 44px;
    margin-bottom: 160px;
}

.happy-chef .chef-title-des-btn .chef-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 24px;
}


.happy-chef .chef-title-des-btn .chef-des {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}


.happy-chef .chef-image {
    background: linear-gradient(
    to bottom,
    #E7F9FD 0%,
    #E7F9FD 100%
  );
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

.happy-chef .chef-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.happy-chef .chef-image .object-position {
    position: absolute;
}

.happy-chef .chef-image .meat {
    left: 5%;
    top: 2%;
}

.happy-chef .chef-image .meat img {
     width: 100%;
    height: 100%;
    object-fit: contain;
}

.happy-chef .chef-image .onion {
    top: 10%;
    right: 20%;
}

.happy-chef .chef-image .onion img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.happy-chef .chef-image .tomatoes {
    left: -3%;
    bottom: 20%;

}

.happy-chef .chef-image .tomatoes img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.happy-chef .chef-image .healthy {
    right: 4%;
    top: 30%;
}

.happy-chef .chef-image .healthy img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* instagram section started */
.whole-instagram {
    background: linear-gradient(
    to bottom,
    #E7F9FD 0%,
    #E7F9FD 100%
  );
  padding: 80px 0px 80px 0px;
}

.instagram {
    display: grid;
    justify-items: center;
   
}

.instagram .instagram-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
    /* line-height: 1.2rem; */
    margin-bottom: 24px;

}


.instagram .instagram-des {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 80px;
}

.instagram .instagram-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 80px;
}


.instagram .instagram-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* responsiveness for mobile  */
/* Mobile */
@media (max-width: 480px) {
    .nav-part {
        margin: 20px auto;
        flex-direction: column;
    }

  .menues-list {
    gap: 15px;
    margin-top: 10px;
  }

  .nav-social-icons{
    display: none;
  }

  .hero-section {
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }

  

  .hero-section .main-dish-description{
    padding: 30px; 
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
 }

 .chef-img-name-btn {
    display: flex;
    margin-top: 50px;
    gap: 50px;
}

 

 .main-dish-description .recipe-title {
    font-size: 2rem; 
 }


 .main-dish-description .recipe-des {
    text-align: center;
 }

 .chef-img-name-btn {
    flex-direction: column;
 }

 .viewRecipes-button {
    align-items: center;
    justify-content: center;
 }

 .hero-section .hero-img img{
    max-width: 400px;
    border-radius: 0 0 0 0;
}


 .badge {
    display: none;
 }

 .categories .categories-txt-view-more-cat {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    gap: 40px;
 }

 .all-categories {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
 }


 .simple-tasty-cards {
    
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    
}

.happy-chef {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}



.happy-chef .chef-title-des-btn {
    display: grid;
    justify-items: center;
}

.happy-chef .chef-title-des-btn .chef-title {
    font-size: 2rem;
}

.happy-chef .chef-title-des-btn .chef-des {
    margin-bottom: 30px;
}

.happy-chef .chef-image {
    display: grid;
    justify-items: center;
    align-items: center;
}

.happy-chef .chef-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.happy-chef .chef-image .tomatoes {
    left: 3%;
    bottom: 20%;

}


.whole-instagram {
   
  padding: 40px 0px 40px 0px;
}


.instagram .instagram-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.instagram .instagram-des {
    margin-bottom: 40px;
}


.instagram .instagram-cards {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
}

}


/* responsiveness for medium devices */
@media (min-width: 481px) and (max-width: 768px) {

    .nav-part {
        margin: 20px auto;
        flex-direction: column;
    }

   .menues-list {
      gap: 50px;
      margin-top: 20px;
   }

    .nav-social-icons{
        display: none;
    }

  .hero-section {
    flex-direction: column;
    margin-bottom: 50px;
  }


  .hero-section .main-dish-description{
    padding: 30px; 
    max-width: fit-content; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
 }


 .chef-img-name-btn {
    flex-direction: column;
 }

 .badge {
    display: none;
 }

 .categories .categories-txt-view-more-cat {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    gap: 40px;
 }

 .all-categories {
    flex-wrap: wrap;
    justify-content: center;
 }

 .simple-tasty-cards {
    
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    
}

.happy-chef {
    flex-direction: column;
    justify-items: center;
}

.happy-chef .chef-title-des-btn {
    display: grid;
    justify-items: center;
    text-align: center;
}

.happy-chef .chef-title-des-btn .chef-title {
    font-size: 2rem;
}

.happy-chef .chef-title-des-btn .chef-des {
    margin-bottom: 30px;
}

.happy-chef .chef-image {
    display: grid;
    justify-items: center;
    align-items: center;
}

.happy-chef .chef-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.happy-chef .chef-image .tomatoes {
    left: 3%;
    bottom: 20%;

}


.whole-instagram {
   
  padding: 40px 0px 40px 0px;
}


.instagram .instagram-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.instagram .instagram-des {
    margin-bottom: 40px;
}

.instagram .instagram-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
}


}

/* for laptop */
@media (min-width: 769px) and (max-width: 1024px) {


    .nav-part {
        margin: 20px auto;
        flex-direction: column;
    }

   .menues-list {
      gap: 50px;
      margin-top: 20px;
   }

    .nav-social-icons{
        display: none;
    }

    .hero-section {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .hero-section .main-dish-description{
    padding: 30px;  
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .chef-img-name-btn {
    flex-direction: column;
 }

  .badge {
    display: none;
 }

 .simple-tasty-cards {
    
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
}




}